[OK] Database connected successfully!
--
-- Create model InventoryOperationConsumption
--
CREATE TABLE `inventory_operation_consumption` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationInterUnit
--
CREATE TABLE `inventory_operation_interunit` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationJobWork
--
CREATE TABLE `inventory_operation_jobwork` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationLocationChange
--
CREATE TABLE `inventory_operation_locationchange` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationProduction
--
CREATE TABLE `inventory_operation_production` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationScrap
--
CREATE TABLE `inventory_operation_scrap` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `issue_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `status` varchar(50) NOT NULL, `goods_from_location` varchar(255) NULL, `goods_to_location` varchar(255) NULL, `posting_note` longtext NULL);
--
-- Create model InventoryOperationConsumptionItem
--
CREATE TABLE `inventory_operation_consumption_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationInterUnitItem
--
CREATE TABLE `inventory_operation_interunit_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationJobWorkItem
--
CREATE TABLE `inventory_operation_jobwork_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationLocationChangeItem
--
CREATE TABLE `inventory_operation_locationchange_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationOutward
--
CREATE TABLE `inventory_operation_outward` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `outward_slip_no` varchar(100) NOT NULL, `date` date NULL, `time` time(6) NULL, `outward_type` varchar(50) NOT NULL, `sales_order_no` varchar(100) NULL, `customer_name` varchar(255) NULL, `supplier_invoice_no` varchar(100) NULL, `vendor_name` varchar(255) NULL, `branch` varchar(100) NULL, `address` longtext NULL, `gstin` varchar(20) NULL, `total_boxes` varchar(50) NULL, `posting_note` longtext NULL, `location_id` bigint NULL);
--
-- Create model InventoryOperationOutwardItem
--
CREATE TABLE `inventory_operation_outward_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `hsn_code` varchar(50) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `no_of_boxes` varchar(100) NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationProductionItem
--
CREATE TABLE `inventory_operation_production_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
--
-- Create model InventoryOperationScrapItem
--
CREATE TABLE `inventory_operation_scrap_items` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `tenant_id` varchar(36) NOT NULL, `created_at` datetime(6) NULL, `updated_at` datetime(6) NULL, `item_code` varchar(100) NULL, `item_name` varchar(255) NULL, `uom` varchar(50) NULL, `quantity` numeric(15, 4) NOT NULL, `rate` numeric(15, 2) NOT NULL, `value` numeric(15, 2) NOT NULL, `parent_id` bigint NOT NULL);
CREATE INDEX `inventory_operation_consumption_tenant_id_0cc9f921` ON `inventory_operation_consumption` (`tenant_id`);
CREATE INDEX `inventory_operation_interunit_tenant_id_6dea6d8c` ON `inventory_operation_interunit` (`tenant_id`);
CREATE INDEX `inventory_operation_jobwork_tenant_id_962acf5e` ON `inventory_operation_jobwork` (`tenant_id`);
CREATE INDEX `inventory_operation_locationchange_tenant_id_ea095412` ON `inventory_operation_locationchange` (`tenant_id`);
CREATE INDEX `inventory_operation_production_tenant_id_fce8e0f0` ON `inventory_operation_production` (`tenant_id`);
CREATE INDEX `inventory_operation_scrap_tenant_id_6dce2c93` ON `inventory_operation_scrap` (`tenant_id`);
ALTER TABLE `inventory_operation_consumption_items` ADD CONSTRAINT `inventory_operation__parent_id_7e9468b9_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_consumption` (`id`);
CREATE INDEX `inventory_operation_consumption_items_tenant_id_ee9ac0e8` ON `inventory_operation_consumption_items` (`tenant_id`);
ALTER TABLE `inventory_operation_interunit_items` ADD CONSTRAINT `inventory_operation__parent_id_96479fac_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_interunit` (`id`);
CREATE INDEX `inventory_operation_interunit_items_tenant_id_09f7441c` ON `inventory_operation_interunit_items` (`tenant_id`);
ALTER TABLE `inventory_operation_jobwork_items` ADD CONSTRAINT `inventory_operation__parent_id_35893357_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_jobwork` (`id`);
CREATE INDEX `inventory_operation_jobwork_items_tenant_id_c4cd20ad` ON `inventory_operation_jobwork_items` (`tenant_id`);
ALTER TABLE `inventory_operation_locationchange_items` ADD CONSTRAINT `inventory_operation__parent_id_0dc03106_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_locationchange` (`id`);
CREATE INDEX `inventory_operation_locationchange_items_tenant_id_ce165cde` ON `inventory_operation_locationchange_items` (`tenant_id`);
ALTER TABLE `inventory_operation_outward` ADD CONSTRAINT `inventory_operation__location_id_7b65ac88_fk_inventory` FOREIGN KEY (`location_id`) REFERENCES `inventory_master_location` (`id`);
CREATE INDEX `inventory_operation_outward_tenant_id_65c1b024` ON `inventory_operation_outward` (`tenant_id`);
ALTER TABLE `inventory_operation_outward_items` ADD CONSTRAINT `inventory_operation__parent_id_a538ecf4_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_outward` (`id`);
CREATE INDEX `inventory_operation_outward_items_tenant_id_ceac5768` ON `inventory_operation_outward_items` (`tenant_id`);
ALTER TABLE `inventory_operation_production_items` ADD CONSTRAINT `inventory_operation__parent_id_0de4392b_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_production` (`id`);
CREATE INDEX `inventory_operation_production_items_tenant_id_c89881c0` ON `inventory_operation_production_items` (`tenant_id`);
ALTER TABLE `inventory_operation_scrap_items` ADD CONSTRAINT `inventory_operation__parent_id_aba48315_fk_inventory` FOREIGN KEY (`parent_id`) REFERENCES `inventory_operation_scrap` (`id`);
CREATE INDEX `inventory_operation_scrap_items_tenant_id_c2cf17a8` ON `inventory_operation_scrap_items` (`tenant_id`);
